/* Custom Styles */

body {
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .section-title {
    font-size: 2.5rem;
    color: #333;
  }
  
  .lead {
    font-size: 1.25rem;
    color: #555;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Custom Colors */
  
  .bg-primary {
    background-color: #007bff !important;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  